<app-navbar-admin></app-navbar-admin>
<div>&nbsp;</div>

<form [formGroup]="subscribersForm" (ngSubmit)="onSubmit()">
  <div formArrayName="subscribers">
    <div *ngFor="let skill of subscribers.controls; let i = index">
      <div [formGroupName]="i">
        <!-- Text input -->
        <div class="form-outline mb-4">
          <input
            type="text"
            id="form6Example3"
            class="form-control"
            formControlName="Name"
          />
          <label class="form-label" for="form6Example3">Name</label>
        </div>

        <!-- Text input -->
        <div class="form-outline mb-4">
          <input
            type="text"
            id="form6Example4"
            class="form-control"
            formControlName="Email"
          />
          <label class="form-label" for="form6Example4">Email</label>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
          <select
            class="custom-select form-control"
            formControlName="CountryCode"
          >
            <option value="">Choose your city</option>
            <option *ngFor="let code of codes">{{ code.Code }}</option>
          </select>
          <label class="form-label" for="form6Example5">CountryCode</label>
        </div>

        <!-- Number input -->
        <div class="form-outline mb-4">
          <input
            type="number"
            id="form6Example6"
            class="form-control"
            formControlName="PhoneNumber"
          />
          <label class="form-label" for="form6Example6">PhoneNumber</label>
        </div>

        <!-- Message input -->
        <div class="form-outline mb-4">
          <input
            class="form-control"
            id="form6Example7"
            rows="4"
            formControlName="JobTitle"
          />
          <label class="form-label" for="form6Example7">JobTitle</label>
        </div>

        <!-- Message input -->
        <div class="form-outline mb-4">
          <input
            class="form-control"
            id="form6Example7"
            rows="4"
            formControlName="Area"
          />
          <label class="form-label" for="form6Example7">Area</label>
        </div>

        <!-- Message input -->
        <div class="form-outline mb-4">
          <input
            class="form-control"
            id="form6Example7"
            rows="4"
            formControlName="Topics"
          />
          <label class="form-label" for="form6Example7">Topics</label>
        </div>
        <button
          type="button"
          (click)="removeSkill(i)"
          class="w-100 btn btn-outline-danger btn-block mb-4"
        >
          Remove
        </button>
        <!-- <button (click)="removeSkill(i)">Remove</button> -->
      </div>
      <hr />
    </div>
  </div>

  <button type="submit" class="w-100 btn btn-primary btn-block mb-4">
    Submit
  </button>
</form>
<button
  type="button"
  (click)="addsubscribers()"
  class="w-100 btn btn-primary btn-block mb-4"
>
  Add
</button>

{{ this.subscribersForm.value | json }}
